################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Повышение квалификации
/packages
/Повышение квалификации/bin/Debug
/Повышение квалификации/obj/Debug
