<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Courses" connectionString="Data source = SSQL-12R2WEB01.client.parking.ru;Initial catalog = silverha_fkd6q; User ID = silverha_fkd6q;Password=vf83QucTFB;"
            providerName="System.Data.SqlClient" />
        <add name="Повышение_квалификации.Properties.Settings.повышение_квалифConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.15.0;Data Source=&quot;|DataDirectory|\повышение квалиф.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Повышение_квалификации.Properties.Settings.повышение_квалифConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\повышение квалиф.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Повышение_квалификации.Properties.Settings.Курсы_ОбученяConnectionString"
            connectionString="Data Source=desktop-eviger8\sqlexpress;Initial Catalog=Курсы_Обученя;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Повышение_квалификации.Properties.Settings.ConnectionString"
            connectionString="Data Source=SSQL-12R2WEB01.client.parking.ru;Persist Security Info=True;User ID=silverha_fkd6q"
            providerName="System.Data.SqlClient" />
        <add name="Повышение_квалификации.Properties.Settings.silverha_fkd6qConnectionString"
            connectionString="Data Source=SSQL-12R2WEB01.client.parking.ru;Initial Catalog=silverha_fkd6q;Persist Security Info=True;User ID=silverha_fkd6q;Password=vf83QucTFB"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>