<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Courses"
            connectionString="Data source = SSQL-12R2WEB01.client.parking.ru;Initial catalog = silverha_fkd6q; User ID = silverha_fkd6q;Password=vf83QucTFB;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>